html {
  width: 100%;
}
header {
  text-align: center;
}
h3{
  font-family: "Times New Roman", serif;
}

.wrap {
  width: 300px; /* Ширина элемента в пикселах */
  padding: 10px; /* Поля вокруг текста */
  margin: auto;
}

.name {
  font-family: "Times New Roman", serif;
}

body {
  font-family: Times New Roman, serif;
}

